/* CREATE/EDIT FORMS AND SHOW PAGES */

fieldset,
.property-list {
  margin: 0.6em 1.25em 0 1.25em;
  padding: 0.3em 1.8em 1.25em;
  position: relative;
  zoom: 1;
  border: none;
}

.property-list .fieldcontain {
  list-style: none;
  overflow: hidden;
  zoom: 1;
}

.fieldcontain {
  margin-top: 1em;
}

.fieldcontain label,
.fieldcontain .property-label {
  color: #666666;
  text-align: right;
  width: 25%;
}

.fieldcontain .property-label {
  float: left;
}

.fieldcontain .property-value {
  display: block;
  margin-left: 27%;
}

/*label {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.25em 0 0;
  display: inline-block;
  line-height: @line-height-base;
}*/

input, select, textarea {
  background-color: #fcfcfc;
  border: 1px solid #cccccc;
  font-size: 1em;
  padding: 0.2em 0.4em;
}

select {
  padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
  vertical-align: top;
}

textarea {
  width: 250px;
  height: 150px;
  overflow: auto; /* IE always renders vertical scrollbar without this */
  vertical-align: top;
}

input[type=checkbox], input[type=radio] {
  background-color: transparent;
  border: 0;
  padding: 0;
}

input:focus, select:focus, textarea:focus {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  outline: 0;
  -moz-box-shadow: 0 0 0.5em #ffffff;
  -webkit-box-shadow: 0 0 0.5em #ffffff;
  box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
  color: #48802C;
  display: inline-block;
  font-weight: bold;
  margin-left: 0.3em;
  position: relative;
  top: 0.1em;
}

ul.one-to-many {
  display: inline-block;
  list-style-position: inside;
  vertical-align: top;
}

.ie6 ul.one-to-many, .ie7 ul.one-to-many {
  display: inline;
  zoom: 1;
}

ul.one-to-many li.add {
  list-style-type: none;
}

/* EMBEDDED PROPERTIES */

fieldset.embedded {
  background-color: transparent;
  border: 1px solid #CCCCCC;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

fieldset.embedded legend {
  margin: 0 1em;
}

/* MESSAGES AND ERRORS */

.errors,
.message {
  font-size: @font-size-large;
  line-height: 2;
  margin-top: @padding-base-vertical;
  margin-bottom: @padding-base-vertical;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0.25em;
}

.message {
  background: #f3f3ff;
  border: 1px solid #b2d1ff;
  color: @brand-info;
  -moz-box-shadow: 0 0 0.25em #b2d1ff;
  -webkit-box-shadow: 0 0 0.25em #b2d1ff;
  box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
  background: #fff9f9;
  border: 1px solid @brand-danger;
  color:  @brand-danger;
  -moz-box-shadow: 0 0 0.25em #ff8888;
  -webkit-box-shadow: 0 0 0.25em #ff8888;
  box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,
.message {
  padding: 0;
}

.errors li {
  list-style: none;
  background: transparent url(../images/skin/exclamation.png) 0.5em 50% no-repeat;
  text-indent: 2.2em;
}

.message {
  background: transparent url(../images/skin/information.png) 0.5em 50% no-repeat;
  text-indent: 2.2em;
}

/* form fields with errors */

.error input, .error select, .error textarea {
  background: #fff3f3;
  border-color: #ffaaaa;
  color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
  -moz-box-shadow: 0 0 0.5em #ffaaaa;
  -webkit-box-shadow: 0 0 0.5em #ffaaaa;
  box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

input:invalid, select:invalid, textarea:invalid {
  background: #fff3f3;
  border-color: #ffaaaa;
  color: #cc0000;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
  -moz-box-shadow: 0 0 0.5em #ffaaaa;
  -webkit-box-shadow: 0 0 0.5em #ffaaaa;
  box-shadow: 0 0 0.5em #ffaaaa;
}

/* PAGINATION */

.pagination {
  border-top: 0;
  margin: 0;
  padding: 0.3em 0.2em;
  text-align: center;
  -moz-box-shadow: 0 0 3px 1px #AAAAAA;
  -webkit-box-shadow: 0 0 3px 1px #AAAAAA;
  box-shadow: 0 0 3px 1px #AAAAAA;
  background-color: #EFEFEF;
}

.pagination a,
.pagination .currentStep {
  color: #666666;
  display: inline-block;
  margin: 0 0.1em;
  padding: 0.25em 0.7em;
  text-decoration: none;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
  background-color: #999999;
  color: #ffffff;
  outline: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
  background-color: transparent;
  color: #444444;
  text-decoration: underline;
}


/* NAVIGATION MENU */

.grailsDomainNav {
  //background-color: #efefef;
  padding: 0.5em 0.75em;
  //-moz-box-shadow: 0 0 3px 1px #aaaaaa;
  //-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
  //box-shadow: 0 0 3px 1px #aaaaaa;
  //zoom: 1;
}

.grailsDomainNav ul {
  overflow: hidden;
  padding-left: 0;
  zoom: 1;
}

.grailsDomainNav li {
  display: block;
  float: left;
  list-style-type: none;
  margin-right: 0.5em;
  padding: 0;
}

.grailsDomainNav a {
  color: #666666;
  display: block;
  padding: 0.25em 0.7em;
  text-decoration: none;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}

.grailsDomainNav a:active, .grailsDomainNav a:visited {
  color: #666666;
}

.grailsDomainNav a:focus, .grailsDomainNav a:hover {
  background-color: #999999;
  color: #ffffff;
  outline: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .grailsDomainNav a:focus, .no-borderradius .grailsDomainNav a:hover {
  background-color: transparent;
  color: #444444;
  text-decoration: underline;
}

.grailsDomainNav a.home, .grailsDomainNav a.list, .grailsDomainNav a.create {
  background-position: 0.7em center;
  background-repeat: no-repeat;
  text-indent: 25px;
}

.grailsDomainNav a.home {
  background-image: url(../images/skin/house.png);
}

.grailsDomainNav a.list {
  background-image: url(../images/skin/database_table.png);
}

.grailsDomainNav a.create {
  background-image: url(../images/skin/database_add.png);
}